<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editor</title>
    <link rel="stylesheet" href="../style/style.css">

</head>
<body>
<div>
    <div id="text">
        <textarea id="textarea">{{ text }}</textarea>

    </div>
    <button type="button" onclick="save_file();">Save</button>
</div>
<script>
    function save_file(){
        var text = document.getElementById("textarea").value;
        var xhr = new XMLHttpRequest();
        var url = "/edit";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                window.close();
            }
        };
        var data = JSON.stringify({"text": text});
        xhr.send(data);
    }
</script>
</body>
</html>