<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browser Total Commander</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" type="image/png" href="../media/favicon.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>

<div class="vl"></div>
<!--
    ● Copiere fișiere / foldere (inclusiv selecție de fișiere/ foldere)
    ● Stergere fișiere / foldere (inclusiv selecție de fișiere/ foldere)
    ● Mutare/Redenumire fișiere / foldere (inclusiv selecție de fișiere/ foldere)
    ● Creare fisier
    ● Creare folder
    ● Editare fisiere text
-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
                <img src="../media/icons/new-file.png"><a id="copy1" class="nav-link" href="#"
                                                          onclick="setOperation('copy1')">Copy</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/paste-file.png"><a id="paste1" class="nav-link" href="#"
                                                            onclick="setOperation('paste1')">Paste</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/delete-file.png"><a id="delete1" class="nav-link" href="#"
                                                             onclick="setOperation('delete1')">Delete</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/move-file.png"><a id="move1" class="nav-link" href="#"
                                                           onclick="setOperation('move1')">Move
                to/Rename</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/add-file.png"><a id="add1" class="nav-link" href="#"
                                                          onclick="setOperation('add1')">Add
                new...</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/edit-file.png"><a id="edit1" class="nav-link" href="#"
                                                           onclick="setOperation('edit1')">Edit</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/back.png"><a id="back1" class="nav-link" href="#"
                                                      onclick="setOperation('back1')">Back</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/where.png"><a class="nav-link" href="#" data-toggle="tooltip"
                                                       onclick="getCwd(1);" title="">Current
                location</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/reload.png"><a class="nav-link" href="#" onclick="setOperation('reload1')">Refresh</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="#">
            <img src="../media/logo.png" class="rounded-circle">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item active">
                <img src="../media/icons/new-file.png"><a class="nav-link" href="#"
                                                          onclick="setOperation('copy2')">Copy</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/paste-file.png"><a class="nav-link" href="#" onclick="setOperation('paste2')">Paste</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/delete-file.png"><a class="nav-link" href="#"
                                                             onclick="setOperation('delete2')">Delete</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/move-file.png"><a class="nav-link" href="#" onclick="setOperation('move2')">Move
                to/Rename</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/add-file.png"><a class="nav-link" href="#" onclick="setOperation('add2')">Add
                new...</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/edit-file.png"><a class="nav-link" href="#" onclick="setOperation('edit2')">Edit</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/back.png"><a class="nav-link" href="#" onclick="setOperation('back2')">Back</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/where.png"><a class="nav-link" href="#" onclick="getCwd(2);"
                                                       data-toggle="tooltip" title="">Current
                location</a>
            </li>
            <li class="nav-item">
                <img src="../media/icons/reload.png"><a class="nav-link" href="#" onclick="setOperation('reload2')">Refresh</a>
            </li>
        </ul>
    </div>
</nav>


<!--<div class="row">-->
<!--    <div class="lcolumn"><a>Hello</a> </div>-->
<!--    <div class="rcolumn"><a>Darkness</a> </div>-->
<!--</div>-->
<div class="split left">
    <div id="list1">
        {{ list.list1|safe }}
    </div>
</div>

<div class="split right">
    <div id="list2">
        {{ list.list2|safe }}
    </div>
</div>
<input id="dir" type="hidden" value="{{ list.working_dir }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
const selected = []

if (document.addEventListener) {
  document.addEventListener('contextmenu', function(e) {
    e.preventDefault();
  }, false);
}

function getCwd(index){
    var xhr = new XMLHttpRequest();
    var url = "/cwd";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            alert(xhr.responseText);
            //return(xhr.responseText);

        }
    };
    var data = JSON.stringify({"index": index});
    xhr.send(data);
}

function highlight(field){

    const colors = ["rgb(255, 0, 0)", "rgb(0, 0, 0)"];
    var current_color = document.getElementById(field).style.color;
    if(current_color == "rgb(0, 0, 0)"){
        document.getElementById(field).style.color = "rgb(255, 0, 0)";
        selected.push(field);
    }else{
        unhighlight(field);

    }

}

function unhighlight(field){
    document.getElementById(field).style.color = "rgb(0, 0, 0)";
    var index = selected.indexOf(field);
    selected.splice(index, 1);
}

function sendSelectedRequest(){
    var xhr = new XMLHttpRequest();
    var url = "/selected";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            var json = JSON.parse(xhr.responseText);
        }
    };
    var data = JSON.stringify({"selected": selected});
    xhr.send(data);
}



function expand(field){
    unhighlight(field);
    var xhr = new XMLHttpRequest();
    var url = "/expand";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
       if (xhr.readyState === 4 && xhr.status === 200) {
            document.getElementById("list" + field.substr(field.length-1)).innerHTML = "";
            document.getElementById("list" + field.substr(field.length-1)).innerHTML = this.responseText;
        }
    };
    var data = JSON.stringify({"expand": field});
    xhr.send(data);
}

function back(index){
    var xhr = new XMLHttpRequest();
    var url = "/back";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
       if (xhr.readyState === 4 && xhr.status === 200) {
            document.getElementById("list" + index.toString()).innerHTML = "";
            document.getElementById("list" + index.toString()).innerHTML = this.responseText;
        }
    };
    var data = JSON.stringify({"index": index});
    xhr.send(data);
}

function copy(index){
    sendSelectedRequest();
    var xhr = new XMLHttpRequest();
    var url = "/copy";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
       if (xhr.readyState === 4 && xhr.status === 200) {

        }
    };
    var data = JSON.stringify({"index": index});
    xhr.send(data);
}

function paste(index){

    var xhr = new XMLHttpRequest();
    var url = "/paste";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
       if (xhr.readyState === 4 && xhr.status === 200) {
            selected.splice(0,selected.length);
            document.getElementById("list" + index.toString()).innerHTML = "";
            document.getElementById("list" + index.toString()).innerHTML = this.responseText;
        }
    };
    var data = JSON.stringify({"index": index});
    xhr.send(data);

}


function delete_file(index){
    sendSelectedRequest();
    var xhr = new XMLHttpRequest();
    var url = "/delete-file";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
       if (xhr.readyState === 4 && xhr.status === 200) {
            selected.splice(0,selected.length);
            var json = JSON.parse(this.responseText);
            html1 = json.html1;
            html2 = json.html2;
            document.getElementById("list1").innerHTML = "";
            document.getElementById("list1").innerHTML = html1;
            document.getElementById("list2").innerHTML = "";
            document.getElementById("list2").innerHTML = html2;
        }
    };
    var data = JSON.stringify({"index": index});
    xhr.send(data);

}



function setOperation(operation){
   switch(operation) {
        case 'copy1':
            copy(1);
            break;
        case 'copy2':
            copy(2);
            break;
        case 'paste1':
            paste(1);
            break;
        case 'reload1':
            refresh(1);
            break;
        case 'reload2':
            refresh(2);
            break;
        case 'paste2':
            paste(2);
            break;
        case 'delete1':
            delete_file(1);
            break;
        case 'delete2':
            delete_file(2);
            break;
        case 'back1':
            back(1);
            break;
        case 'back2':
            back(2);
            break;
        case 'move1':
            move(1);
            break;
        case 'move2':
            move(2);
            break;
        case 'add1':
            add(1);
            break;
        case 'add2':
            add(2);
            break;
        case 'edit1':
            edit(1);
            break;
        case 'edit2':
            edit(2);
            break;
        default:
            break;
    }
}

function update(){
    var xhr = new XMLHttpRequest();
    var url = "/update";
    console.log('here');
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
                     localStorage.setItem('done', 'false');
                    var json = JSON.parse(this.responseText);
                    html1 = json.html1;
                    html2 = json.html2;
                    document.getElementById("list1").innerHTML = "";
                    document.getElementById("list1").innerHTML = html1;
                    document.getElementById("list2").innerHTML = "";
                    document.getElementById("list2").innerHTML = html2;
                }
            };
    var data = JSON.stringify({"file": "ok"});
    xhr.send(data);
}

function wait_for_end(){
    if(localStorage.getItem('done') === 'true'){
        update();
    }else{
        setTimeout(wait_for_end, 0);
     }
}
function move(index){
    sendSelectedRequest();
    selected.splice(0,selected.length);
    var path_window = window.open('./path.html','Location','width=300,height=200');
    wait_for_end();


}
function refresh(index){
    alert(selected);
}

function edit(index){
    if(selected.length == 1)
    {
        var txt_file = selected[0].slice(0,-1);
        if(txt_file.includes(".txt"))
        {
             sendSelectedRequest();
             selected.splice(0,selected.length);
             window.open('./editor.html',txt_file,'width=600,height=400');
        }
    }
}

function send_new_file(new_file, index){
    var xhr = new XMLHttpRequest();
    var url = "/new-file";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
       if (xhr.readyState === 4 && xhr.status === 200) {
            var json = JSON.parse(this.responseText);
            html1 = json.html1;
            html2 = json.html2;
            document.getElementById("list1").innerHTML = "";
            document.getElementById("list1").innerHTML = html1;
            document.getElementById("list2").innerHTML = "";
            document.getElementById("list2").innerHTML = html2;
        }
    };
    var data = JSON.stringify({"file": new_file});
    xhr.send(data);
}
function manage_add_file(list, index){
    var new_li = document.createElement("li");
    var input = document.createElement("input");
    input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
                send_new_file(input.value, index);
                list.removeChild(new_li);
            }
    });
    new_li.appendChild(input);
    list.appendChild(new_li);
}




function add(index){
    var xhr = new XMLHttpRequest();
    var url = "/add";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
       if (xhr.readyState === 4 && xhr.status === 200) {
            manage_add_file(document.getElementById("list" + index.toString()), index);
        }
    };
    var data = JSON.stringify({"index": index});
    xhr.send(data);
}









</script>
</body>
</html>

